@model Hermes.Data.Models.Bus

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Bus</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.StopsId, "StopsId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("StopsId", String.Empty)
                @Html.ValidationMessageFor(model => model.StopsId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TripTypeId, "TripTypeId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TripTypeId", String.Empty)
                @Html.ValidationMessageFor(model => model.TripTypeId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Kiawah_Id, "Kiawah_Id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Kiawah_Id", String.Empty)
                @Html.ValidationMessageFor(model => model.Kiawah_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DriverId, "DriverId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DriverId", String.Empty)
                @Html.ValidationMessageFor(model => model.DriverId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BusTimeId, "BusTimeId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("BusTimeId", String.Empty)
                @Html.ValidationMessageFor(model => model.BusTimeId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date)
                @Html.ValidationMessageFor(model => model.Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GuestId, "GuestId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("GuestId", String.Empty)
                @Html.ValidationMessageFor(model => model.GuestId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
