@model Hermes.Data.Models.Cost

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cost</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TripType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TripType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.twoperprice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.twoperprice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.addperprice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.addperprice)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
