@model Hermes.ViewModels.MainViewModels.CancellationViewModel
<br />
<div>
    @DateTime.Now
</div>
<br />
<br />
<br />
<br />
<div id="memberblock">
    @Model.Household<br />
    @Model.Address<br />
    @Model.Phone<br />
</div>
<br />
RE: Kiawah Shuttle Service by KICA Cancellation<br />
<br />
Dear @Model.Member,<br />
<br />
Thank you for contacting KICA regarding your Kiawah Shuttle Service reservation.  This communication is<br />
to confirm the cancellation of your reservation on @Model.Date to @Model.Location.<br />
<br />
Cancellations occuring within 24 hours of your scheduled reservation may be subject to fees.  If you <br />
have any questions, please call 843-768-5566 or email shuttle@kica.us.<br />
<br />
We appreciate your business and hope you will consider the Kiawah Shuttle Service for future travels.<br />
<br />
Sincerely, <br />
<br />
<br />
<br />
Kiawah Island Community Association



