@model Hermes.Data.Models.Guest

@{
    ViewBag.Title = "New Guest";
}

<h4>Add New Guest</h4>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Guest</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.HiddenFor(model => model.RegularId)
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @using (Html.BeginForm("Details", "Regular", FormMethod.Get)) {
        <input type="hidden" value="ViewBag.RegularId" name="Id" />
        <button type="submit">Back to List</button>
    }
</div>
