@model Hermes.Data.Models.DailyHour

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DailyHour</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Vehicle.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vehicle.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Day)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Miles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Miles)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
