@model IEnumerable<Hermes.Data.Models.DailyHour>

@{
    ViewBag.Title = "Daily Hours";
}

<h2>Daily Hours</h2>

<p>
    
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Vehicle.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Day)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Miles)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Vehicle.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Day)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Miles)
        </td>
        <td>
            
            @Html.ActionLink("Details", "Details", new { id=item.id }) 
            
        </td>
    </tr>
}

</table>
<div class="btn-group">
    @using (Html.BeginForm("Create", "DailyHour", FormMethod.Get)) {
        <button class="btn btn-default"  type="submit">Add Daily Hours</button>
    }


    @using (Html.BeginForm("Details", "Vehicle", FormMethod.Get, new { id = ViewBag.VehicleId })) {

        <button class="btn btn-block" type="submit">Return to Vehicle</button>
    }
    }
</div>